#principal {
  text-align: center;
}

#titulo {
  background-color: blue;
  border: 2px solid red;
}

#nombre {
  background-color: #042c7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid greenyellow;
}

#materia {
  color: #61dafb;
  background-color: rgb(7, 1, 1);
  border: 5px solid yellow;
}